/* Estilos para el encabezado */
header {
    background-color: #333;
    color: white;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    position: relative;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #555;
}

nav ul .submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333;
    padding: 0;
}

nav ul .submenu li {
    width: 200px;
}

nav ul .submenu li a {
    padding: 10px;
}

nav ul li:hover .submenu {
    display: block;
}

/* Estilos para el cuerpo del documento */
body {
    font-family: Arial, sans
